In [3]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

#Technical Requirements

#Groupby Mechanics

In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('/content/gdrive/My Drive/01.google-colab/61.AIStudy/data/automobileEDA.csv')

In [ ]:
# pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [ ]:
# df.head()
df

the output is as follows:\
1)symboling 2)normalized-losses 3)make 4)aspiration 5)num-of-doors 6)body-style 7)drive-wheels 8)engine-location 9)wheel-base 10)length
11)width 12)height 13)curb-weight 14)engine-type 15)num-of-cylinders 16)engine-size 17)fuel-system 18)bore 19)stroke 20)compression-ratio 21)horsepower 22)peak-rpm 23)city-mpg 24)highway-mpg 25)price 26)city-L/100km 27)horsepower-binned 28)diesel 29)gas

In [ ]:
df.groupby('body-style').groups.keys()

dict_keys(['convertible', 'hardtop', 'hatchback', 'sedan', 'wagon'])

In [ ]:
style = df.groupby('body-style')
style.get_group("convertible")

#Selecting a subset of columns

In [ ]:
double_grouping = df.groupby(['body-style', 'drive-wheels'])
double_grouping.first()

#Max and Min

In [ ]:
style['normalized-losses'].max()
#style['normalized-losses'].min()

body-style
convertible    142
hardtop        168
hatchback      256
sedan          192
wagon          122
Name: normalized-losses, dtype: int64

#Mean

In [ ]:
style.mean()

,symboling,normalized-losses,wheel-base,length,width,height,curb-weight,engine-size,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,city-L/100km,diesel,gas
body-style,,,,,,,,,,,,,,,,,,,
convertible,2.833333,127.333333,92.700000,0.818757,0.910880,51.433333,2801.666667,157.166667,3.491667,3.043333,8.933333,131.666667,5158.333333,20.500000,26.000000,21890.500000,11.745886,0.000000,1.000000
hardtop,1.875000,128.625000,98.500000,0.850252,0.925174,52.850000,2810.625000,176.250000,3.608750,3.322500,10.725000,142.250000,5031.250000,21.625000,27.250000,22208.500000,11.508780,0.125000,0.875000
hatchback,1.617647,130.897059,95.435294,0.799078,0.904228,52.133824,2322.852941,112.852941,3.236015,3.280312,9.042941,97.768473,5219.490727,26.602941,32.382353,9957.441176,9.434906,0.014706,0.985294
sedan,0.329787,120.893617,100.750000,0.855583,0.921070,54.387234,2625.893617,131.691489,3.345106,3.270638,10.965957,103.808511,5075.000000,25.053191,30.574468,14459.755319,10.027994,0.159574,0.840426
wagon,-0.160000,98.560000,102.156000,0.871235,0.920222,56.728000,2784.240000,123.840000,3.406400,3.175600,10.316000,98.010246,5019.014778,24.040000,28.720000,12371.960000,10.080906,0.120000,0.880000

In [ ]:
# get mean of each column of specific group
style.get_group("convertible").mean()

symboling                2.833333
normalized-losses      127.333333
wheel-base              92.700000
length                   0.818757
width                    0.910880
height                  51.433333
curb-weight           2801.666667
engine-size            157.166667
bore                     3.491667
stroke                   3.043333
compression-ratio        8.933333
horsepower             131.666667
peak-rpm              5158.333333
city-mpg                20.500000
highway-mpg             26.000000
price                21890.500000
city-L/100km            11.745886
diesel                   0.000000
gas                      1.000000
dtype: float64

In [ ]:
# get the number of symboling/records in each group
style['symboling'].count()

body-style
convertible     6
hardtop         8
hatchback      68
sedan          94
wagon          25
Name: symboling, dtype: int64

#Data Aggregation

In [ ]:
# new dataframe that consist length, width, height, curb-weight and price 
new_dataset = df.filter(["length", "width", "height", "curb-weight", "price"], axis=1)
new_dataset

       length     width  height  curb-weight    price
0    0.811148  0.890278    48.8         2548  13495.0
1    0.811148  0.890278    48.8         2548  16500.0
2    0.822681  0.909722    52.4         2823  16500.0
3    0.848630  0.919444    54.3         2337  13950.0
4    0.848630  0.922222    54.3         2824  17450.0
..        ...       ...     ...          ...      ...
196  0.907256  0.956944    55.5         2952  16845.0
197  0.907256  0.955556    55.5         3049  19045.0
198  0.907256  0.956944    55.5         3012  21485.0
199  0.907256  0.956944    55.5         3217  22470.0
200  0.907256  0.956944    55.5         3062  22625.0

[201 rows x 5 columns]

In [ ]:
# apllying single aggregation for mean over the columns
new_dataset.agg("mean", axis="rows")

length             0.837102
width              0.915126
height            53.766667
curb-weight     2555.666667
price          13207.129353
dtype: float64

In [ ]:
# new_dataset.agg(['sum', 'min'])
new_dataset.agg(['sum', 'min', 'max'])

         length       width   height  curb-weight      price
sum  168.257568  183.940278  10807.1       513689  2654633.0
min    0.678039    0.837500     47.8         1488     5118.0
max    1.000000    1.000000     59.8         4066    45400.0

In [ ]:
# find aggregation for these columns
new_dataset.aggregate({"length":['sum', 'min'], "width":['max', 'min'], "height":['min', 'sum'], "curb-weight":['sum']})

         length   width   height  curb-weight
max         NaN  1.0000      NaN          NaN
min    0.678039  0.8375     47.8          NaN
sum  168.257568     NaN  10807.1     513689.0

#Group-Wise Operation

In [ ]:
# group the data frame df by body-style and drive-wheels and extract stats from each group
df.groupby(["body-style", "drive-wheels"]).agg({\
                                                'height':min,\
                                                'length':max,\
                                                'price':'mean'})

                          height    length         price
body-style  drive-wheels
convertible fwd             55.6  0.765497  11595.000000
            rwd             48.8  0.866410  23949.600000
hardtop     fwd             53.3  0.780394   8249.000000
            rwd             51.6  0.957232  24202.714286
hatchback   4wd             55.7  0.755887   7603.000000
            fwd             49.4  0.896684   8396.387755
            rwd             49.6  0.881788  14337.777778
sedan       4wd             54.3  0.848630  12647.333333
            fwd             50.6  0.925997   9811.800000
            rwd             47.8  1.000000  21711.833333
wagon       4wd             54.9  0.834214   9095.750000
            fwd             53.0  0.925997   9997.333333
            rwd             54.1  0.955790  16994.222222

In [ ]:
# create dictionary of aggregations
aggregations=({\
               'height':min,\
               'length':max,\
               'price':'mean'})
# implementing aggregation in groups
df.groupby(["body-style", "drive-wheels"]).agg(aggregations)

                          height    length         price
body-style  drive-wheels
convertible fwd             55.6  0.765497  11595.000000
            rwd             48.8  0.866410  23949.600000
hardtop     fwd             53.3  0.780394   8249.000000
            rwd             51.6  0.957232  24202.714286
hatchback   4wd             55.7  0.755887   7603.000000
            fwd             49.4  0.896684   8396.387755
            rwd             49.6  0.881788  14337.777778
sedan       4wd             54.3  0.848630  12647.333333
            fwd             50.6  0.925997   9811.800000
            rwd             47.8  1.000000  21711.833333
wagon       4wd             54.9  0.834214   9095.750000
            fwd             53.0  0.925997   9997.333333
            rwd             54.1  0.955790  16994.222222

In [ ]:
# import the numpy library as np
import numpy as np

# using numpy libraries for operations
df.groupby(["body-style", "drive-wheels"])["price"].agg([np.sum, np.mean, np.std])

                               sum          mean           std
body-style  drive-wheels
convertible fwd            11595.0  11595.000000           NaN
            rwd           119748.0  23949.600000  11165.099700
hardtop     fwd             8249.0   8249.000000           NaN
            rwd           169419.0  24202.714286  14493.311190
hatchback   4wd             7603.0   7603.000000           NaN
            fwd           411423.0   8396.387755   3004.675695
            rwd           258080.0  14337.777778   3831.795195
sedan       4wd            37942.0  12647.333333   4280.814681
            fwd           539649.0   9811.800000   3519.517598
            rwd           781626.0  21711.833333   9194.820239
wagon       4wd            36383.0   9095.750000   1775.652063
            fwd           119968.0   9997.333333   3584.185551
            rwd           152948.0  16994.222222   4686.703313

#Renaming Grouped Aggregation Columns

In [ ]:
df.groupby(\
           ["body-style", "drive-wheels"]).agg(\
                                               max_price=('price', max),\
                                               min_price=('price', min),\
                                               total_price=('price', 'mean'))

                          max_price  min_price   total_price
body-style  drive-wheels
convertible fwd             11595.0    11595.0  11595.000000
            rwd             37028.0    13495.0  23949.600000
hardtop     fwd              8249.0     8249.0   8249.000000
            rwd             45400.0     8449.0  24202.714286
hatchback   4wd              7603.0     7603.0   7603.000000
            fwd             18150.0     5118.0   8396.387755
            rwd             22018.0     8238.0  14337.777778
sedan       4wd             17450.0     9233.0  12647.333333
            fwd             23875.0     5499.0   9811.800000
            rwd             41315.0     6785.0  21711.833333
wagon       4wd             11694.0     7898.0   9095.750000
            fwd             18920.0     6918.0   9997.333333
            rwd             28248.0    12440.0  16994.222222

#Group-Wise Transformations

In [11]:
# 1. let's begin by using a simple transformation function to increase the price of each car by 10% using the lambda function:
df["price"]=df["price"].transform(lambda x:x + x/10)
df.loc[:,'price']

0      14844.5
1      18150.0
2      18150.0
3      15345.0
4      19195.0
        ...
196    18529.5
197    20949.5
198    23633.5
199    24717.0
200    24887.5
Name: price, Length: 201, dtype: float64

In [12]:
# 2. let's observe the average price of cars each grouping by body-style and drive-wheels:
df.groupby(["body-style", "drive-wheels"])["price"].transform('mean')

0      26344.560000
1      26344.560000
2      15771.555556
3      10792.980000
4      13912.066667
           ...
196    23883.016667
197    23883.016667
198    23883.016667
199    23883.016667
200    23883.016667
Name: price, Length: 201, dtype: float64

In [7]:
# 3. now, create a new column for an average price in the original dataframe:
df["average-price"]=df.groupby(["body-style", "drive-wheels"])["price"].transform('mean')

# selecting columns body-style, drive-wheels, price and average-price 
df.loc[:, ["body-style", "drive-wheels", "price", "average-price"]]

      body-style drive-wheels    price  average-price
0    convertible          rwd  13495.0   23949.600000
1    convertible          rwd  16500.0   23949.600000
2      hatchback          rwd  16500.0   14337.777778
3          sedan          fwd  13950.0    9811.800000
4          sedan          4wd  17450.0   12647.333333
..           ...          ...      ...            ...
196        sedan          rwd  16845.0   21711.833333
197        sedan          rwd  19045.0   21711.833333
198        sedan          rwd  21485.0   21711.833333
199        sedan          rwd  22470.0   21711.833333
200        sedan          rwd  22625.0   21711.833333

[201 rows x 4 columns]

#Pivot Table and Cross-Tabulations
Pivot Tables

In [ ]:
# 1. let's make a pivot table of a new dataframe that consists of the body-style, drive-wheels, length, width height, curb-weight, and price columns:
new_dataset1 = df.filter(["body-style", "drive-wheels", "length", "width", "height", "curb-weight", "price"], axis=1)
# new_dataset1

# simplest pivot table with dataframe df and index body-style
# table = pd.pivot_table(new_dataset1, index=["body-style"])
# table = pd.pivot_table(new_dataset1, index=["body-style", "drive-wheels"], margins=True, margins_name="Total")
table = pd.pivot_table(new_dataset1, index=["body-style"], margins=True, margins_name="Total")
table

In [ ]:
# 2. now, design a pivot table with the new_dataset1 dataframe and make body-style and drive-wheels as an index.

# pivot table with dataframe df and index body-style and drive-wheels
table = pd.pivot_table(new_dataset1, index=["body-style", "drive-wheels"])
table

In [13]:
# import numpy for aggregation function
import numpy as np

In [ ]:
# new data set with few columns
new_dataset3 = df.filter(["body-style", "drive-wheels", "price"], axis=1)
# new_dataset3
print(new_dataset3.head())
print("--------------------------------------------------")
table = pd.pivot_table(new_dataset3, values='price', index=["body-style"], columns=["drive-wheels"], aggfunc=np.mean, fill_value=0)
table

In [18]:
# 3. we can also apply a different aggregation function to different columns:
table = pd.pivot_table(new_dataset1, values=['price', 'height', 'width'],\
                       index=["body-style", "drive-wheels"],\
                       aggfunc={'price':np.mean, 'height':[min,max], 'width':[min,max]},\
                       fill_value=0)
table

                         height               price     width
                            max   min          mean       max       min
body-style  drive-wheels
convertible fwd            55.6  55.6  11595.000000  0.891667  0.891667
            rwd            53.0  48.8  23949.600000  0.979167  0.890278
hardtop     fwd            53.3  53.3   8249.000000  0.886111  0.886111
            rwd            55.4  51.6  24202.714286  1.000000  0.902778
hatchback   4wd            55.7  55.7   7603.000000  0.886111  0.886111
            fwd            56.1  49.4   8396.387755  0.925000  0.837500
            rwd            54.8  49.6  14337.777778  0.948611  0.888889
sedan       4wd            54.3  54.3  12647.333333  0.922222  0.908333
            fwd            56.1  50.6   9811.800000  0.991667  0.868056
            rwd            56.7  47.8  21711.833333  0.995833  0.858333
wagon       4wd            59.1  54.9   9095.750000  0.908333  0.883333
            fwd            59.8  53.0   9997.333333  0.991667  0.883333
            rwd            58.7  54.1  16994.222222  0.976389  0.923611

#Cross-Tabulations

In [ ]:
# 1. let's use pd.crosstab() to look at how many different body styles cars are made by different makers:
pd.crosstab(df["make"], df["body-style"])

# apply margins and argins_name attribute 
# to displays the row wise and column wise sum of the cross table
pd.crosstab(df["make"], df["body-style"], margins=True, margins_name="Total Made")

In [ ]:
# 2. let's see how the data is distributed by the body-type and drive_wheels columns within the maker of car and their door type in a crosstab:
pd.crosstab([df["make"], df["num-of-doors"]], [df["body-style"], df["drive-wheels"]], margins=True, margins_name="Total Made")

In [ ]:
# rename the columns and row index for better understanding of crosstab
pd.crosstab([df["make"], df["num-of-doors"]], [df["body-style"], df["drive-wheels"]],\
            rownames=['Auto Manufacturer', "Doors"],\
            colnames=['Body Style', "Drive Type"],\
            margins=True, margins_name="Total Made").head()

In [ ]:
# 3. first. let's look at the average curb-weight of cars made by different makers with respect to their body-style by applying the mean() aggregation function to the crosstable:
# value are the column in which aggregation function is to be applied
# aggfunc is the aggregation function to be applied
# round() to round the output
pd.crosstab(df["make"], df["body-style"], values=df["curb-weight"], aggfunc='mean').round(0)

In [ ]:
pd.crosstab(df["make"], df["body-style"], normalize=True).head(10)